* {
    box-sizing: content-box;
    margin:0;
    padding:0;
    font-family: "Roboto", serif;
}

.banner {
    width:100%;
    position:relative;
}

.banner img {
    width: 100%;
}

.topbar {
    position:absolute;
    z-index:2;
    color:white;
    display:flex;
    flex-direction: row;
    align-items: center;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    justify-content: space-between;
    padding-top:20px;
}

.topbar-link {
    color:white;
    text-decoration: none;
    font-size:25px;
    margin-right:60px;
    transition: color 0.3s ease;
}

.topbar-link:hover {
    color:rgb(3, 3, 184);
}

.banner-text {
    position:absolute;
    top:35%;
    left:5%;
    width:25%;
    color:rgb(3, 3, 184);
    text-align: center;
}

.banner-background {
    background-color: white;
    filter:opacity(0.5);
    position:absolute;
    top:0;
    left:0;
    height: 643px;
    width: 35%;
}

.banner-text-h1 {
    font-size:3vw;
    margin-bottom:30px;
}

.banner-text-p,
.about-section,
.videos-text {
    font-size: 1.2vw;
    text-align: justify;
}

.about {
    width:70%;
    margin-left:15%;
    margin-right:15%;
    padding-top:100px;
    padding-bottom:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.services,
.videos,
.clients,
.footer {
    width:70%;
    margin-left:15%;
    margin-right:15%;
    padding-top:100px;
    padding-bottom:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.videos,
.clients {
    align-items: center;
}

.about-h1,
.services-h1,
.videos-h1,
.clients-h1 {
    font-size:40px;
    color:rgb(3, 3, 184);
    padding-bottom:50px;
}

.footer-h1 {
    font-size:40px;
    padding-bottom:50px;
}

.about-img {
    width:70%;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-section,
.services,
.videos,
.clients {
    color:rgb(3, 3, 184);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.card {
    height:200px;
    border-radius: 20px;
    padding:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: justify;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    padding-bottom:20px;
}

.card-text {
    width:60%;
}

.fa-solid,
.fa-regular {
    font-size:60px;
    padding-bottom:30px;
}

.video {
    border-radius: 20px;
    width:100%;
    margin-top:50px;
    filter:opacity(0.7);
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fa-solid.fa-circle-play {
    position: absolute;
    z-index:2;
    top: 45%;
    right: 45%;
    font-size:80px;
    cursor:pointer;
    transition: transform 0.3s ease;
}

.fa-solid.fa-circle-play:hover {
    transform: scale(1.1);
}

.video-container {
    position:relative;
    max-width:932px;
}

.form {
    display:flex;
    flex-direction: column;
    width:45%;
}

.form-container {
    display:flex;
    flex-direction: row;
}

.footer {
    width:70%;
    padding-left:15%;
    padding-right: 15%;
    color:white;
    background-color: rgb(4, 4, 102);
    margin:0;
}

.footer-p {
    margin-bottom:30px;
}

.infos {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos-h2 {
    padding-bottom:30px;
}

.infos-p,
.links {
    padding-bottom:20px;
}

.fa-brands:hover {
    color:rgb(73, 73, 255);
}

.links {
    width: 150px;
    display: flex;
    justify-content: space-around;
    font-size:20px;
    cursor:pointer;
}

input {
    border-radius: 10px;
    border:none;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
    margin-bottom:20px;
}

textarea {
    margin-bottom: 20px;
    border-radius: 10px;
    padding-top:20px;
    padding-left: 10px;
}

.submit {
    font-size: 20px;
    color: rgb(3, 3, 184);
    cursor: pointer;
    background-color: white;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit:hover {
    color: white;
    background-color: rgb(3, 3, 184);
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
